
.admin{
    color:rgb(255, 0, 0);
    font-size:2rem;
    height:50%;
    width: 50%;
    text-align: center;
    margin: auto;
    font-family: Harrington, Papyrus, fantasy;
}
.b {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    /* background-color: rgb(29, 52, 70); */
    border-radius: .375rem;
    padding: 10px 30px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    border-left: 6px solid #FFD43B;
    margin-bottom: 20px;

    background-image: url(../imgs/BR20.jpg);
    background-size: cover;
    background-position: center;
    height: 120px;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
       
       /* background: rgb(252, 125, 100);   */

}
.tile {
    position: relative;
     /* background: rgb(252, 125, 100);  */
    background-color: rgb(255, 192, 192);  

    border-radius: .375rem;
    padding: 20px;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.optionfull
{
    background-color: #a1f6aa !important;
    color: #141b15 !important;
}
.optionfull2
{
    background-color: #b3d0dc !important;
    color: #141b15 !important;
}
.chuanoption {
    display: inline-block;
    padding: 7px;
    font-size: 13.5px;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: white;
}
.chuanoption5 {
  font-size: 13.5px;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  
}

.option1 {
    background-color: #c2eb81 !important;
    color: #0a0a0a !important;
}
.option2 {
    background-color: #ae65f3 !important;
    color: #301563 !important;
}
.option3 {
    background-color: #f1de6d !important;
    color: #0c0c0c !important;
}
.option4 {
    background-color: #46a5e4 !important;
    color: #0f0f0f !important;
}
.optionhuy {
    background-color: rgb(255, 192, 192) !important;
    color: #eb0505 !important;
}
.chuanhuy {
    font-size: 13.5px;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.25rem;
}
.anh{
    height:30%;
    width: 30%; 
    text-align: center;
}
.huy5 {
    background-color: rgb(115, 216, 209) !important;
    color: #201e1e !important;
}

/* cuối trang */

.logo1 {
    width: 7em;
    height: 5em;
    border-radius: 200px;
    border: 2px solid rgb(2, 2, 2);
  
  }
  .icon-search {
    transition: 0.5s;
    display: inline-block;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: #f5f6f4;
    color: #080808;
    text-align: center;
    line-height: 30px;
    border: 2px solid rgb(249, 9, 9);
  }
  
  .icon-search:hover {
    background-color: #080808;
    color: #fdfbfb;
    border: #080808;
  
  }
  .icon1 {
    transition: 0.5s;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #f5f6f4;
    color: #080808;
    text-align: center;
    line-height: 40px;
    border: 1px solid rgb(9, 9, 9);
    margin-bottom: 4px;
  
  }
  
  .icon1:hover {
    background-color: rgb(9, 9, 9);
    color: #faf8f8;
  }
  .footer {
    background-color: rgb(243, 227, 238);
    color: rgb(233, 14, 14);
    padding-top: 80px;
    padding-bottom: 50px;
  }
  
  .hr {
    background-color: rgb(0, 0, 0);
  }
  
  ul,
  li,
  ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }